/* value css */
:root {
    --global-color: #3C5999;
 }
/* home page */

.block-content{
    background-color: white;
    height: 100vh;
    border-radius: 8px;
}

.card-custom{
    width: 100%;
    /* height: 260px; */
    background-color: #f8f8f8 !important;
    border-radius: 6px;
    box-shadow: 0 0 10px #BBBBBB;
    cursor: pointer;
    position: relative;
}

.card-custom .col-lg-6{
    padding: 0;
   }
.card-custom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.card-custom .heart-icon{
    color:#BBBBBB;
    cursor: pointer;
    transition: all 0.4s;
   
}

.card-custom .heart-icon:hover{
    color:var(--global-color);
}


.card-custom .like-block{
    color:#BBBBBB;
    cursor: pointer;
    transition: all 0.4s;
   
}
.card-custom .like-block:hover .heart-icon{
    color:var(--global-color);
   
}


.block-content .row {
    margin: 0 !important;
}


.custom-panigation{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .custom-panigation{
       display: none !important;
    }
}


/* home page authentication */

@media screen and (max-width: 556px) {
   .logout_text{
    display: none;
   }
   .block-user{
    display: none !important;
   }
   .menu-bar{
    display:inline-block;
   }
   
}
@media screen and (min-width: 556px) {
 
    .menu-bar{
     display: none !important;
    }
    
 }
 

.nav_custom a{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #828282;
    
}
.nav_custom a:link{
    color: var(--global-color);
    
}
.nav_custom a:hover{
    
    color: var(--global-color);
    
}
.nav_custom .active{
    
    color: var(--global-color);
    
}

.btn-group-custom button{
   text-transform: uppercase;
   border: 1px solid var(--global-color);
   background-color: white;
   color: var(--global-color);
   font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
.btn-group-custom button:hover{
    background-color: var(--global-color);
}
.btn-group-custom .active{
    background-color: var(--global-color);
    color: white;
}