.card_text{
  
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.6;
    color: white;
    padding: 4px;
    
}
.card_text p{
  
    text-transform: capitalize;
  }
.card_text span{
  font-weight: bold;
  font-size: 18px;
}
.card-custom p{
   margin: 0;
}
.card-custom img{
    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
}
.card-custom .lock-css{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}



/* photo add */
.add-title{
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #000000;

}